li{
	list-style: none;
}

ul{
	padding: 0px;
}
.desc_epreuve{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 43%;
    margin: 3% auto;
    font-size: 15pt;
    border-bottom: 2px solid #e0e0e0;
}

#list_result_search{
	margin-top: 40px;
}

#transfert_result_search input{
	width: 25px;
    height: 25px;
    margin-right: 19px;
}

#transfert_result_search label, #form_inscription_test_search label{
    position: relative;
    bottom: 8px;
}

#form_inscription_test_search input[type='radio']{
	width: 25px;
    height: 25px;
    margin-right: 23px;
}

.left_inscription, .right_inscription{
	width: 35%;
}

#colum_inscription_body{
	display: flex;
	justify-content: center;
}

#form_inscription_test_search > label:nth-child(1){
	position: initial;
}

#form_selection-test select{
	margin-bottom: 25px;
}

#form_selection-test .alert_date{
	display: none;
}

#form_selection-test .form-group-date{
    width: 81%;
    display: flex;
    margin-bottom: 25px;
    align-items: baseline;
}

#datetimepicker4, #datetimepicker5{
	margin: 0px 15px;
}









