

body {
  height: 100vh;
  font-family: 'Varela Round', sans-serif;
}

a {
  color: white;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;

}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px; 
  color: #cccccc;
}



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}



/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.form_input_connexion {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}

/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
	width: 21%;
    margin: 25px 0;
    border-radius: 6px;
}

.navbar_icon{
    width: 41px;
    margin: 3px 23px;
    border-radius: 6px;
}

.navbar li{
	margin: 0px 16px;
    font-size: 13pt;
}

.navbar .navbar-nav li{
    color: white;
}

.bg-light{
	 background: linear-gradient(to right, rgba(67, 108, 226, 1) 0%, rgba(110, 199, 249, 1) 100%);
}

.navbar-text span{
	margin: 0px 23px;
	color: black;
}
.navbar-text i{
	margin-right: 8px;
	margin-left: 5px;
}

.navbar-text .name_connexion i{
	font-size: 16pt;
}

.navbar-text .deco_navbar{
	font-size: 12pt;
}

.desc_epreuve{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 43%;
    margin: 3% auto;
    font-size: 15pt;
    border-bottom: 2px solid #e0e0e0;
}

.desc_epreuve p{
	margin-bottom: 9px;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

footer{
	margin-top: 100%;
    background-color: #f3f3f3;
    width: 100%;
    padding-top: 10px;
}

footer ul{
	display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5px;
   
}

footer img{
	 float: left;
	 margin: 0px 23px;
	 font-size: 37px !important;
}

footer span{
    position: relative;
    top: 12px;	
    font-size: 10pt;
}

.nav-link{
	color: #007bff;
}

.container-fluid{
	margin-top: 2%;
}

.enonce {
	text-align: center;
    font-size: 15pt;
}

.enonce img{
	width: 20%;
	height: 20%;
}

.enonce_questions{
    margin-top: 2%;
    display: flex;
  	flex-direction: column;
}

.list_question{
    height: 570px;
    overflow: scroll;
    overflow-x: hidden; 
}

#next{
	position: absolute;
    right: 10px;
    bottom: 10px;
}

.enonce_questions button{
	flex: 1 0 40%;
    margin: 25px;
}

#form_new_candidat{
	display: flex;
    justify-content: center;
}

#form_new_candidat form{
    display: flex;
    flex-direction: column;
    width: 30%;
}

#form_new_candidat form label{
	margin-top: 15px;
}

#btn_newCandidat{
	margin-top: 25px;
}

.question :hover{
	cursor: pointer;
}

.marque_question{
	width: 17px;
    height: 17px;
    vertical-align: middle;
    position: relative;
    top: -1px;
    overflow: hidden;
}

.label_marquage{
	position: absolute;
}

#time_container{
	bottom: 0px;
    position: absolute;
}
